<div class="container">
    <div class="container-logo">
        <ion-img src="/assets/zyro-image (2).png"></ion-img>
    </div>
    <div class="container-name">
        <h1>DevAcademy</h1>
    </div>
    <div class="linea-vertical">
    </div>
    <ion-header class="ion-header">
        <ul class="menu">
            <li>Inicio</li>
            <li routerLink="/cursos">Cursos</li>
            <li routerLink="/music">Musica</li>
            <li>Comunidad</li>
        </ul>
    </ion-header>
    <div class="container-text">
        <h2>En el mundo de la programación, no hay límites para la innovación. Cada línea de código que escribes
            puede tener un impacto significativo en la vida de las personas y en la forma en que funciona el
            mundo.</h2>
        <button type="submit">Empieza a Programar</button>
        <ion-img class="huella" src="/assets/huella.png"></ion-img>
    </div>
    <div class="container-img-right">
        <ion-img src="/assets/zyro-image (3).png"></ion-img>
    </div>
    <div class="scroll">
        <button>
            <ion-icon name="arrow-down-outline"></ion-icon>
            Empezar
        </button>
    </div>
</div>