<ion-content>
  <div class="card-container">
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="6" size-xs="12">
        <ion-card class="card">
          <ion-card-content>
            <img src="assets/Estetograma.jfif" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="6" size-xs="12">
        <ion-card class="card-music">
         <img class="estetograma" src="assets/Estetograma.jfif" alt="">
          <ion-card-header>
            <ion-card-title>Estetograma</ion-card-title>
            <ion-card-subtitle>Alcolirikoz</ion-card-subtitle>
            <ion-icon name="play-back-outline" class="icon-music"></ion-icon>
            <ion-icon name="play-circle-outline" class="icon-music2"></ion-icon>
            <ion-icon name="play-forward-outline" class="icon-music3"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="6" size-xs="12">
        <ion-card class="card-music">
         <img class="estetograma" src="assets/aranjuez.jfif" alt="">
          <ion-card-header>
            <ion-card-title>Aranjuez</ion-card-title>
            <ion-card-subtitle>Alcolirikoz</ion-card-subtitle>
            <ion-icon name="play-back-outline" class="icon-music"></ion-icon>
            <ion-icon name="play-circle-outline" class="icon-music2"></ion-icon>
            <ion-icon name="play-forward-outline" class="icon-music3"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="6" size-xs="12">
        <ion-card class="card-music">
         <img class="estetograma" src="assets/chango.jfif" alt="">
          <ion-card-header>
            <ion-card-title>Chango</ion-card-title>
            <ion-card-subtitle>Alcolirikoz</ion-card-subtitle>
            <ion-icon name="play-back-outline" class="icon-music"></ion-icon>
            <ion-icon name="play-circle-outline" class="icon-music2"></ion-icon>
            <ion-icon name="play-forward-outline" class="icon-music3"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="6" size-xs="12">
        <ion-card class="card-music">
         <img class="estetograma" src="assets/Normal.jpg" alt="">
          <ion-card-header>
            <ion-card-title>Normal</ion-card-title>
            <ion-card-subtitle>Alcolirikoz</ion-card-subtitle>
            <ion-icon name="play-back-outline" class="icon-music"></ion-icon>
            <ion-icon name="play-circle-outline" class="icon-music2"></ion-icon>
            <ion-icon name="play-forward-outline" class="icon-music3"></ion-icon>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-searchbar show-clear-button="always" clear-icon="trash-bin" value="Ingresa Canción" class="ion-hide-md-down"></ion-searchbar>
    <button class="btn-regresar" routerLink="/home">Regresar</button>
    <ion-title class="ion-hide-md-down" class="favorites">Favoritos</ion-title>
      <ion-grid class="cards-container">
        <ion-row>
          <ion-col size="12" size-md="6" size-lg="6" class="card-item" class="ion-hide-md-down">
            <ion-card>
              <img src="assets/arkeologo.jpg" alt="Card Image">
              <ion-card-header class="header-music">
                <ion-card-title>RED VELVÉT</ion-card-title>
                <ion-card-subtitle class="header-title">Alcolirikoz</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="6" class="card-item" class="ion-hide-md-down">
            <ion-card>
              <img src="assets/laberinto.jpg" alt="Card Image">
              <ion-card-header class="header-music">
                <ion-card-title>LABERINTO</ion-card-title>
                <ion-card-subtitle class="header-title">Alcolirikoz-Los Legendarios</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="6" class="card-item" class="ion-hide-md-down">
            <ion-card>
              <img src="/assets/Normal.jpg" alt="Card Image">
              <ion-card-header class="header-music">
                <ion-card-title>NORMAL</ion-card-title>
                <ion-card-subtitle class="header-title">Alcolirikoz</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="6" size-lg="6" class="card-item" class="ion-hide-md-down">
            <ion-card>
              <img src="/assets/aranjuez.jfif" alt="Card Image">
              <ion-card-header class="header-music">
                <ion-card-title>ARANJUEZ</ion-card-title>
                <ion-card-subtitle class="header-title">Alcolirikoz</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>      
  </div>
</ion-content>